<div class="topic-new-wrapper" >
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center">Edit Comment</h1>
          <%= render 'form', comment: @comment %>
      </div>
    </div>
  </div>
</div
