h1,
h2 {
  font-weight: 100;
}

.text-white {
  color: #fff;
}

.btn-white {
  color: #fff;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);

  &:hover {
    color: #fff;
  }
}

.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("bg-top.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.top-hero-container {
  padding-top: 220px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 60px;
  }
}

.form-control {
  height: 45px;
}

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url("bg-top.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;

  .users-new-container {
    padding-top: 220px;

    .form-group {
      margin-bottom: 20px;
    }
  }
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

/* ナブバーのスタイル */
.navbar-transparent {
  margin-bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  a {
    color: #fff !important;
  }

  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
  }

  img {
    height: 40px;
  }
}

/* 投稿機能のスタイル */
.btn-black {
  color: #565656;
  border: 1px solid #565656;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);

  &:hover {
    color: #565656;
  }
}

.topic-new-wrapper {
  padding-top: 120px;
}

.topic-index-wrapper {
  padding-top: 70px;
  background-color: #fafafa;
  .topic-index-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    .topic-author {
      padding-right: 20px;
      padding-left: 20px;
    }

    .topic-text {
      padding-right: 20px;
      padding-left: 20px;
    }

    img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
    }

    .topic-index-icon {
      width: 35px;
      height: 30px;
      margin-left: 20px;
    }

    .topic-index-icon-red {
      width: 35px;
      height: 30px;
      margin-left: 20px;
      -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%)
        hue-rotate(-50deg) saturate(400%) contrast(2);
      filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg)
        saturate(600%) contrast(0.8);
    }
  }
}
